<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809830614757-6db0rru0eo746ku7bhbtj2m87v5ub8fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809830614757-6db0rru0eo746ku7bhbtj2m87v5ub8fo</string>
	<key>API_KEY</key>
	<string>AIzaSyADxi3k0VpwMhs9dqcleHH_Kkg0hjUx4tg</string>
	<key>GCM_SENDER_ID</key>
	<string>809830614757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.media</string>
	<key>PROJECT_ID</key>
	<string>propermessageapp</string>
	<key>STORAGE_BUCKET</key>
	<string>propermessageapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809830614757:ios:5798baf800cf6dae6af60c</string>
</dict>
</plist>